<template>
  <div class="comment">
    <h4>{{id}}</h4>
    <pre>{{body}}</pre>
    <div class="info">posted by {{createdBy}} {{createdAtDate}}
      <button @click="deleteComment">delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'comment',
  props: {
    id: Number,
    body: String,
    createdBy: String,
    createdAt: String
  },
  computed: {
    createdAtDate: function () {
      return new Date(this.createdAt).toLocaleDateString('ja-JP')
    }
  },
  methods: {
    deleteComment: function () {
      this.$emit('deleteComment', this.id)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
pre {
  width: 90%;
  height: 100%;
  border: solid 1px #aaa;
  padding: 10px;
  margin: 0px;
}

.info {
  text-align: right;
}

.comment {
  margin-bottom: 30px;
}

h4 {
  margin: 0px;
}
</style>
