<template>
  <div class="hello">
    <h1>Threads</h1>
    <ul>
      <li v-for="thread in threads" :key="thread" class="thread">
        <router-link :to="{ name: 'Thread', params: { id: thread.id}}">{{thread.name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import api from '@/lib/api'

export default {
  name: 'threads',
  data () {
    return {
      threads: []
    }
  },
  methods: {
  },
  created: function () {
    api.getThreads()
      .then(res => {
        this.threads = res
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
