<template>
  <div class="hello">
    <h1>{{ thread.name }}</h1>
    <h3>new post</h3>
    <form>
      <textarea v-model="newBody"></textarea>
      <span v-show="!valid.newBody">required!!!!</span>
      <button @click="saveComment">Submit</button>
    </form>
    <h3>comments</h3>
    <div v-for="comment in comments" class="comments" :key="comment">
      <comment :id="comment.id" :body="comment.body" :created-by="comment.createdBy" :created-at="comment.createdAt" @deleteComment="deleteComment"></comment>
    </div>
  </div>
</template>

<script>
import api from '@/lib/api'
import Comment from '@/components/Comment'

export default {
  name: 'thread',
  data () {
    return {
      name: '',
      thread: {},
      comments: [],
      newBody: '',
      valid: {
        newBody: false
      }
    }
  },
  created: function () {
    api.getComments(this.$route.params.id)
      .then(res => { this.comments = res })
    api.getThread(this.$route.params.id)
      .then(res => { this.thread = res })
  },
  methods: {
    deleteComment: function (commentId) {
      api.deleteComment(commentId)
        .then(res => {
          this.comments.splice(this.comments.findIndex(function (val) {
            return commentId === val.id
          }), 1)
        })
    },
    saveComment: function () {
      if (!this.validateNewComment()) return
      api.saveComment({
        threadId: this.$route.params.id,
        body: this.newBody,
        createdAt: new Date(), // 実際はサーバー側で処理
        createdBy: 'kitakappa' // 実際はサーバー側で処理
      })
        .then(res => {
          this.comments.push(res)
          this.newBody = ''
        })
    },
    validateNewComment: function () {
      this.valid = {
        newBody: !!this.newBody
      }
      return !!this.newBody
    }
  },
  components: {
    'comment': Comment
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
  color: #42b983;
}

div.comments {
  text-align: left;
}

textarea {
  width: 400px;
}
</style>
